<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhilash.abhi.recipedatabase" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abhilash.abhi.recipedatabase.MainActivity" />
        </activity>
        <activity
            android:name=".ContentActivity"
            android:label="@string/title_activity_content"
            android:parentActivityName=".ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abhilash.abhi.recipedatabase.ListActivity" />
            <Button
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Add Recipe"
                android:textSize="16sp"
                android:textStyle="bold"
                android:id="@+id/saveRecipe"
                android:onClick="addRecipe"
                android:gravity="center"
                android:layout_alignParentRight="true"
                >

            </Button>
        </activity>
    </application>

</manifest>
